.xst {
    font-size: xx-small;
}

.index-container{
    background-color: rgba(52, 52, 52, 0.92);
    border-radius: 12px;
    padding:10px;
    margin:10px;
}

.index-items-container{
    background-color: rgba(34, 34, 34, 0.92);
    border-radius: 12px;
    padding:10px;
    margin:10px;
}

h3{
    color:white;
}

.itemLink{
    cursor: pointer;
}