<div class="overlay"></div>
<div class="home-text-wrapper relative container">
    <div class="home-message">
        <img src="assets/images/biglogo.png" alt="">
        <p>IndImm</p>
        <div class="btn-wrapper">
            <div class="text-center">
                <div (click)="viewUpload()" class="btn btn-primary">Upload</div> &nbsp;<div (click)="viewViewPortal()" class="btn btn-default">View File</div>
            </div>
        </div><!-- end row -->
        <h2>Indestructible. Immutable. Infinite File Storage.</h2>
        <h4>Hosted on Ripple Blockchain</h4>
    </div>
</div>