.progress-container{
    background-color: rgba(32, 32, 32, 0.75);
    border-radius: 12px;
    padding-top:5px;
    margin-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
 }
 .upload-container{
    background-color: rgba(52, 52, 52, 0.55);
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 .upload-btn-container{
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 .progress-item-container{
    background-color: rgba(16, 16, 16, 0.85);
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
.btn-round{
    border-radius: 12px;  
}

 h4{
     color:white;
 }
 h3{
    color:white;
}
textarea{
   padding-bottom:5px;
   margin-bottom:5px;
}
h4 {
   color:#ffffff;
   }

.downloadWarning{
   background-color: rgb(163, 163, 7);
}
.comment-name{
   margin-left:5px;
   padding-left:5px;
}
.comment-time{ 
   float:right;
   margin-right:5px;
   padding-right:5px;
}
textarea {
   width: 100%;
}
.cmtlen{
   margin-top:5px;
   padding-top:5px;
   top:5px;
}