    
   <div class="container">

        <div class="section-title text-center">
          <h3>Download from XRP Blockchain</h3>
        </div><!-- end title -->

        <div class="row uk-text-center upload-container">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="progress-container">

                    <div class="progress-item-container">
                        <h4>Download Progress</h4>

                        File Detail: {{ fileDownloadProgressService.TotalFileDetailChunksDownloaded}} of 
                        {{ fileDownloadProgressService.TotalFileDetailChunks}} ({{ fileDownloadProgressService.TotalFileDetailChunksDownloadedPercent }}%)
                        <span [hidden]="!fileDownloadProgressService.FileDetailDownloadComplete">
                          <i class="material-icons large icon-green" >
                            check_circle
                        </i></span>
                        <mat-progress-bar
                            color="primary"
                            mode="determinate"
                            [value]="fileDownloadProgressService.TotalFileDetailChunksDownloadedPercent"
                            >
                        </mat-progress-bar>
                        <br>
                        Meta Data: {{ fileDownloadProgressService.TotalFileMetaDataChunksDownloaded}} of 
                        {{ fileDownloadProgressService.TotalFileMetaDataChunks}} ({{ fileDownloadProgressService.TotalFileMetaDataChunksDownloadedPercent }}%)
                        <span [hidden]="!fileDownloadProgressService.FileMetaDataDownloadComplete">
                            <i class="material-icons large icon-green" >
                              check_circle
                            </i>
                        </span>
                        <mat-progress-bar
                            color="primary"
                            mode="determinate"
                            [value]="fileDownloadProgressService.TotalFileMetaDataChunksDownloadedPercent"
                            >
                        </mat-progress-bar>                        
                    </div>
                </div>
              </div>
              <div class="col-lg-3"></div>
          </div>
          <div [hidden]="!fileDownloadProgressService.DownloadInWarningState">
            <div class="btn btn-wrapper btn-round downloadWarning" style="width:100%">
              Error pulling chunk, Attempting auto-resume. Attempt: {{ fileDownloadProgressService.AttemptsInWarningState}} 
            </div>
            <br><br>
          </div>
   </div>

   <div class="container">
        <div class="row uk-text-center upload-container" [hidden]="!fileDownloadProgressService.FileMetaDataDownloadComplete">
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <div class="progress-container">

                    <div class="progress-item-container text-center" [hidden]="!fileDownloadProgressService.FileMetaDataDownloadComplete">
                        <div [hidden]="hideDefaultViewer">
                            <span [hidden]="hideDefaultViewer" style="display:inline-block">
                                <tld-file-viewer [src]="src" [type]="type"></tld-file-viewer>
                            </span>
                        </div>
                        <span [hidden]="hideWebmViewer">
                            <mat-video #video [src]="src"></mat-video>
                        </span>
                        <span [hidden]="hideGifViewer">
                            <img [src]="src">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div [hidden]="!fileDownloadProgressService.FileMetaDataDownloadComplete">
                <div (click)="SaveFile()" class="btn btn-wrapper btn-default btn-round" style="width:100%">Save File</div>
        </div>
        <div class="row uk-text-center upload-container" [hidden]="!fileDownloadProgressService.FileMetaDataDownloadComplete">
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
                    <div class="progress-container">
    
                            <div class="progress-item-container" [hidden]="!fileDownloadProgressService.FileMetaDataDownloadComplete">
                                <h4>MetaData</h4>    
                                {{ roundRobinText }}
                            </div>
                        </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div [hidden]="!fileDownloadProgressService.FileMetaDataDownloadComplete">
                <div (click)="SaveMetaFile()" class="btn btn-wrapper btn-default btn-round" style="width:100%">Save Metadata File</div>
        </div>
        <br>
        <div class="progress-container">
        <div class="section-title text-center cmtlen">
            <h3>Comments ({{ Comments.length }})</h3>
        </div>
        <div class="row uk-text-center upload-container">
            <div class="col-lg-12">
                    <div class="progress-container">
                        <div class="progress-item-container">                    
                            <h4>Ripple (XRP) Wallet </h4>
                            XRP Address   
                            <br>                  
                            <input type="text'" [(ngModel)] = "sender">
                            <br>
                            XRP Key
                            <br>
                            <input type="text'" [(ngModel)] = "secret">
                        </div>
                      <div class="progress-item-container">
                        <h4>Comment:</h4>
                        <textarea [(ngModel)] = "comment" rows="5"></textarea>
                        <div (click)="AddComment()" class="btn btn-wrapper btn-default btn-round" style="width:100%">Add Comment</div>
                      </div>
                    </div>
            </div>
        </div>
        <div class="text-center" [hidden]="!commentsLoading">
            <h3>Comments Loading</h3>>
            <span style="display:inline-block"><mat-spinner ></mat-spinner></span>
        </div>
        <div class="text-center" [hidden]="!commentSubmitError">
                <h3>Error submitting comment</h3>>
        </div>
        <div class="text-center" [hidden]="!commentsLoadedError">
                <h3>Error Loading comments</h3>
        </div>
        <div class="text-center" [hidden]="!commentSubmitting">
                <h3 class="red-error">Submitting comment</h3>
                <span style="display:inline-block"><mat-spinner ></mat-spinner></span>
        </div>
        <div class="row uk-text-center upload-container"  *ngFor="let comment of Comments">

            <div class="col-lg-12">
                <div class="progress-container"> 
                     <span class="comment-name">{{ comment.Name }}</span>
                     <span class="comment-time">{{ comment.Time | date:'medium'}}</span>
                    <div class="progress-item-container">
                            {{ comment.Comment }}
                    </div>
                </div>
            </div>
        </div>
        <div (click)="RefreshComments()" class="btn btn-wrapper btn-primary btn-round" style="width:100%">Refresh Comments</div>
        </div>
        <div class="progress-container">
            <h3>&nbsp;Notes:</h3>
            <div class="progress-item-container"> 
              <div>*Newly uploaded files on occasion take a few minutes after validation to successfully pull.</div>
              <div>*Files of type PNG, JPEG, PDF, WEBM, and MP4 will display in viewer once downloaded. All other files will have to be saved locally.</div>
              <div>*Display viewer might for large width/height files may not autoscale correctly. This is being addressed.</div>
              <div>*If there is an issue downloading a file from the ripple blockchain, a friendly error might not display. This is being addressed.</div>
              <div>*If there is an issue downloading a file from the ripple blockchain, it may need to be restarted. Automatic resume is partially functional.</div>
              <div>*If the file is older and will not load and you are sure the Transaction ID and Ledger are correct, it may not be available on Ripple's primary public node. It Is available on the historical node and we are working on autodetecting when to pull from the historical node.</div>
            </div>
          </div>
    </div>

