li {
    cursor: pointer;
}

i {
    vertical-align: -7px; 

}

.sideFooter {
    margin-left: 5px;
    margin-right: 5px;
}

.secure-highlight {
    color: red;
}

.gab {
    vertical-align: -7px; 
}
.beta {
    color: rgb(163, 163, 7);
}