.sub-container{
    background-color: rgba(32, 32, 32, 0.75);
    border-radius: 12px;
    padding-top:5px;
    margin-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
 }
 .sc2{
    background-color: rgba(20, 19, 19, 0.75);
    border-radius: 12px;
    padding-top:5px;
    margin-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
 }
 .main-container{
    background-color: rgba(52, 52, 52, 0.95);
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 .sub-content{
     margin: 10px;
 }
.sub-body{
    margin: 15px;
}
h1{
    color:white;
}
h2{
   color:rgb(199, 198, 198);
}
h3{
    color:rgb(110, 108, 108);
 }

.bgblack{
    background-color:black;
}

a {
    color:aqua;
}