.progress-container{
    background-color: rgba(32, 32, 32, 0.75);
    border-radius: 12px;
    padding-top:5px;
    margin-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
 }
 .upload-container{
    background-color: rgba(52, 52, 52, 0.55);
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 .upload-btn-container{
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 .progress-item-container{
    background-color: rgba(16, 16, 16, 0.85);
    border-radius: 12px;
    padding:10px;
    margin:10px;
 }
 
 .toggle-margin{
    margin:5px;
 }
.btn-round{
    border-radius: 12px;  
}

h2{
   color: green;
}
 h4{
     color:white;
 }
 h3{
    color:white;
}
textarea{
   padding-bottom:5px;
   margin-bottom:5px;
}
.estimates{
   font-size: 12px; top:5px
}
.largeIcon{
   font-size: 80px; top:3px;
}
.pointercursor{
   cursor: pointer;
}

.uploadWarning{
      background-color: rgb(163, 163, 7);
}
.uploadError{
      background-color: red;
}
a {
   color:aqua;
}
a:visited {
   color: aqua;
}
.green {
   color: rgb(2, 99, 2)
}
.red {
   color: rgb(189, 3, 3);
}
.custom-modalbox {
   mat-dialog-container {
    background-color: #000 !important; 
    border-radius: 12px;  

   }
 }