    
   <div class="container">

        <div class="section-title text-center">
          <h3>Upload to XRP Blockchain</h3>
        </div><!-- end title -->

        <div class="row uk-text-center upload-container">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-md-12https://askubuntu.com/questions/430853/how-do-i-find-my-internal-ip-address">
                <div class="progress-container">
                    <div class="progress-item-container">
                        <input type="file"
                                id="file"
                                (change)="handleFileInput($event.target.files)">
                    </div><!-- end media -->

                    <div class="progress-item-container">
                        <h4>Upload Progress</h4>

                        File Detail: {{ fileProgressService.TotalFileDetailChunksUploaded}} of {{ fileProgressService.TotalFileDetailChunks}} ({{ fileProgressService.TotalFileDetailChunksUploadedPercent }}%)
                        <span [hidden]="!fileProgressService.FileDetailUploadComplete">
                            <i class="material-icons large icon-green" >
                              check_circle
                            </i>
                          </span>
                        <mat-progress-bar
                            color="primary"
                            mode="determinate"
                            [value]="fileProgressService.TotalFileDetailChunksUploadedPercent"
                            >
                        </mat-progress-bar>
                        
                        <br>
                        Meta Data: {{ fileProgressService.TotalFileMetaDataChunksUploaded}} of {{ fileProgressService.TotalFileMetaDataChunks}} ({{ fileProgressService.TotalFileMetaDataChunksUploadedPercent }}%)
                        <span [hidden]="!fileProgressService.FileMetaDataUploadComplete">
                            <i class="material-icons large icon-green" >
                              check_circle
                            </i>
                        </span>
                        <mat-progress-bar
                            color="primary"
                            mode="determinate"
                            [value]="fileProgressService.TotalFileMetaDataChunksUploadedPercent"
                            >
                        </mat-progress-bar>
                        
                    </div>

                    <div class="progress-item-container">
                        <h4>Validation Progress</h4>
                        File Detail: {{ fileProgressService.TotalFileDetailChunksValidated}} of {{ fileProgressService.TotalFileDetailChunks}} ({{ fileProgressService.TotalFileDetailChunksValidatedPercent }}%)
                        <span [hidden]="!fileProgressService.FileDetailValidatedComplete">
                            <i class="material-icons large icon-green" >
                              check_circle
                            </i>
                          </span>
                        <mat-progress-bar
                            color="primary"
                            mode="determinate"
                            [value]="fileProgressService.TotalFileDetailChunksValidatedPercent"
                            >
                        </mat-progress-bar>
                        
                        <br>
                        Meta Data: {{ fileProgressService.TotalFileMetaDataChunksValidated}} of {{ fileProgressService.TotalFileMetaDataChunks}} ({{ fileProgressService.TotalFileMetaDataChunksValidatedPercent }}%)
                        <span [hidden]="!fileProgressService.FileMetaDataValidatedComplete">
                            <i class="material-icons large icon-green" >
                              check_circle
                            </i>
                          </span>
                        <mat-progress-bar
                            color="primary"
                            mode="determinate"
                            [value]="fileProgressService.TotalFileMetaDataChunksValidatedPercent"
                            >
                        </mat-progress-bar>
                        
                      </div>

                    <div class="progress-item-container">
                      <h4>Root File Progress</h4>
                      <div [hidden]="!showIndexingFile">
                        <h2>Indexing...</h2>
                      </div>
                      <div class="text-center" [hidden]="!fileProgressService.RootFileProcessing">
                        <span style="display:inline-block"><mat-spinner ></mat-spinner></span></div>
                      <div class="text-center largeIcon" [hidden]="!fileProgressService.RootFileComplete">
                        <i class="material-icons largeIcon icon-green" >
                          check_circle
                        </i>
                      </div>
                      <div class="text-center" [hidden]="!fileProgressService.RootFileComplete">
                        <a [href]="fileLink"><i class="material-icons" >
                          link
                        </i></a>
                      </div>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-4">
                
              <div class="progress-container">
                  <div class="progress-item-container">                    
                      <h4>Ripple (XRP) Wallet </h4>
                      XRP Address                     
                      <input type="text'" [(ngModel)] = "sender">
                      <br>
                      XRP Key
                      <input type="text'" [(ngModel)] = "secret">
                      <span class="estimates">
                        Estimated Cost: {{ estCost }} XRP <i class="material-icons icon-green estimates pointercursor" (click) = "RefreshBalanceAndEstimate()" >
                            refresh
                        </i>
                        <br>
                        XRP Balance: {{ xrpBalance }} 
                        <i class="material-icons icon-green estimates pointercursor" (click) = "RefreshBalanceAndEstimate()" >
                            refresh
                        </i> 
                        <span style="float:right">
                          <mat-slide-toggle
                          class=""
                          color="green"
                          [(ngModel)]="IsDev"
                          (change)="toggle()">
                          Use TestNet
                          </mat-slide-toggle>
                        </span>   
                      </span>
                  </div>
                <div class="progress-item-container">
                  <h4>Description (50 characters):</h4>
                  <input type="text" [(ngModel)] = "description">
                </div>
                <div class="progress-item-container">
                  <h4>Additional text to include:</h4>
                  <textarea [(ngModel)] = "fileMetaData" rows="5"></textarea>
                </div>
              </div>
            </div>
            <div [hidden]="!fileProgressService.ShowHighFeeNotification">
              <div class="btn btn-wrapper btn-round uploadWarning" style="width:100%">
                Waiting for Ripple Fees to Lower. Attempt: {{ fileProgressService.HighFeeAttemptCount}} 
              </div>
              <br><br>
            </div>
            <div [hidden]="!fileProgressService.ShowFatalError">
              <div class="btn btn-wrapper btn-round uploadError" style="width:100%">
                Fatal and Unrecoverable error while uploading. Uploading stopped.
              </div>
              <br><br>
            </div>
            <div [hidden]="fileProgressService.RootFileProcessing">
            <div (click)="UploadFile()" class="btn btn-wrapper btn-primary btn-round" style="width:100%">Upload</div>
            </div>
            <div [hidden]="!fileProgressService.RootFileProcessing">
            <div (click)="Cancel()" class="btn btn-wrapper btn-primary btn-round" style="width:100%">Uploading...Press to cancel</div>
            </div>
            <br>
            <div [hidden]="!showViewFileButton">
              <div (click)="ViewFile()" class="btn btn-wrapper btn-default btn-round" style="width:100%">View File</div>
            </div>
            <div class="progress-container">
              <h3>&nbsp;Notes:</h3>
              <div class="progress-item-container"> 
                <div>*Uploads are time consuming as it sends data in 800 byte chunks. Make your file as small as possible.</div>
                <div>*Upload pause/resume functionality does not exist and will be available in the near future.</div>
                <div>*If an upload fails, it is not recoverable and must be restarted. Automatic refunding coming soon. Email us your address if you need a refund.</div>
                <div>*During high fee periods, the transactions are held until fees deescalate. Notification displays in the UI. Typically lasts seconds to minutes.</div>
                <div>*You can upload to Ripple testnet for free by checking "Use Testnet"; you can obtain Testnet Ripple and address from <a href="https://developers.ripple.com/xrp-test-net-faucet.html"> Ripple's Faucet.</a></div>
                <div>*Uploads are currently facilitated throgh Ripple's public server with 99% availability. We're currently setting up an IndImm dedicated node.</div>
                <div>*Uploads are permanent and not able to be modified. Uploads are <span class="red"><u><b>NOT Anonymous</b></u></span> unless you follow instructions in side bar.</div>
                <div class="green"><b>*Current Approximate Cost: 3.6 Megabyte/XRP</b></div>
                <div>*Any bugs, comments or questions, please contact IndImm on Github, Twitter, Gab, or email. We are looking for any and all feedback.</div>
              </div>
            </div>
        </div>

    </div>
