    
<div class="container bgblack">

    <div class="section-title text-center">
        <h3>Secure Anonymous Uploading</h3>
    </div>
    <div class="row uk-text-center main-container">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="sub-container">
                <div class="sub-content">
                    <h1>Anonymously Uploading - Two issues</h1>
                    <div class="sub-body">
                        To upload a file using IndImm to the Ripple blockchain anonymously, two issues need to be addressed before that is possible. The first issue is that while the ripple blockchain is decentralized and the client (IndImm) solely runs on your device, you still must make a communication to a decentralized instance of the the Ripple Ledger which in theory could store connection details that facilitated the uploading of files. The second issue is that unless the appropriate steps are taken, the Ripple you use to upload a file could be traced back directly to you. If both of these issues aren't resolved by the uploader (you), then it would be possible for a malicious party to determine the files origin. We will address these issues below.
                    </div>
                    <div class="sub-content">
                        <h2>Anonymously connecting to Ripple Decentralized Network</h2>
                        <div class="sub-body">
                            The first issue to address is anonymously and securely connecting to a server instance of the ripple blockchain.
                        </div>
                        <div class="sub-content">
                            <h3>Install Brave Browser</h3>	
                            <div class="sub-body">
                                First, install the Brave Browser (<a href="https://brave.com/">https://brave.com/</a>). This browser offers cutting edge privacy and security with the ability to use Tor (<a href="https://www.torproject.org/">https://www.torproject.org/</a>) which furthers obfuscates the ability for a server to know the actual source of it's client. MAKE SURE you are in a Tor window before proceeding (ALT-SHIFT-N).
                            </div>
                            <h3>Obtain and Setup VPN (Suggested: ProtonMail + ProtonVPN)</h3>	
                            <div class="sub-body">
                                Secondly, while using Brave in a TOR window, you will want to setup a VPN, we suggest using a Proton Email address (<a href="https://protonmail.com/">https://protonmail.com/</a>) and ProtonVPN (<a href="https://protonvpn.com/">https://protonvpn.com/</a>). Email setup is very straight forward and the VPN setup has directions that are well laid out and easy to follow. It is highly advised to upgrade your free account to a paid account which will give you the ability to choose which country your VPN routes through. If you do decide to upgrade, do not pay with a debit card or paypal, but instead use bitcoin. You can follow the steps in the below section on how to Anonymize your bitcoin (or any crypto for that matter).
                            </div>
                            <h3>Burner Phone + Tether</h3>	
                            <div class="sub-body">
                                Lastly, when ready to upload a file w/ IndImm, for further security, you can use a Burner phone w/ tether internet capability that you purchased with cash as your internet source. 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-content">
                    <h2>Anonymize your personal Ripple which is used to facilitate file upload</h2>
                    <div class="sub-body">
                        The second issue to address is how to anonymize your Ripple that you are using to upload a file so that it can not be traced back to you. Fortunately, this is not very difficult or time consuming.
                    </div>
                    <div class="sub-content">
                        <h3>Connect to VPN</h3>	
                        <div class="sub-body">
                            First, though not required but highly suggested, connect to your VPN from above mentioned steps and use Brave as your browser.
                        </div>
                        <h3>Obtain Bitcoin w/ fiat (dirty at this point)</h3>	
                        <div class="sub-body">    
                            Secondly, if you do not already have BTC, then acquire BTC. This can be done through Exchanges like Coinbase, Binance, and Gemeni or through apps such as Cash App.
                        </div>
                        <h3>Convert to Monero on exchange</h3>
                        <div class="sub-body">   Next, if your BTC is not already on an exchange then transfer BTC to an exchange.
                            Afterwards, exchange your BTC for Monero as Monero is a crypto which is completely private.
                        </div>
                        <h3>Withdraw Monero to Personal Monero Wallet</h3>	
                        <div class="sub-body">
                            Next, Create a Monero wallet. There are many out there but we personally recommend MyMonero (<a href="https://mymonero.com/">https://mymonero.com/</a>)
                            Now, withdraw your Monero that is on an Exchange to your personal Monero wallet which you just created.
                        </div>    
                        <h3>Swap Monero for XRP w/ a Swap Service to your Ripple Wallet</h3>
                        <div class="sub-body"> Create a ripple wallet. For simplicity, you can use the open source and public <a href="https://jatchili.github.io/minimalist-ripple-client/">Minimalist Ripple Client</a>. Simply click Generate Identity and copy the address generated user "Identity". Click show/hide secret for the secret to be displayed and copy that as well. Do not lose or share this key.
                            <br>
                            Lastly, you will need to use a coin swapping service to swap your Monero for Ripple. We have used ChangeNow (<a href="https://changenow.io">https://changenow.io</a>) very many times and only have had one issue which was resolved within an hour. While we vouch for them, we recommend you do your due diligence.
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>